.todo-card {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
.todo-card.completed {
  background-color: #e0e0e0;
}
.todo-content, .todo-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-actions, .edit-actions {
  display: flex;
  gap: 8px;
}
.todo-text{
  text-decoration: line-through;
}
button {
  background-color: #f0f0f0;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}
.delete-btn {
  background-color: rgb(197, 91, 91);
  color: white !important;
}
.edit-btn{
  background-color: #007bff;
  color: white !important;
}